---
layout: archive
title: "Endorsements from Supervisors, Colleagues, and Friends"
permalink: /endorsement/
author_profile: true
---

<div class="endorsement">
    <div class="author" style="font-weight: bold; font-size: 1.2em;">Cindy Elder, MA</div>
    <div class="title" style="font-style: italic;">Statistician</div>
    <div class="relation" style="color: #777;">August 2024, Cindy worked with me to study wrongful convictions in the United States</div>
    <blockquote>
        "Alejandro is a great asset for our team. He was instrumental in researching, coding and visualizing complex trends in exoneration rates. He is also passionate about social justice and knowledgeable about the statistics needed to publish these findings."
    </blockquote>
</div>

<div class="endorsement">
    <div class="author" style="font-weight: bold; font-size: 1.2em;">Test</div>
    <div class="title" style="font-style: italic;">Test</div>
    <div class="relation" style="color: #777;">Test, Test</div>
    <blockquote>
        "Test"
    </blockquote>
</div>

{% for post in site.endorsements reversed %}
  {% include archive-single-endorsement.html %}
{% endfor %}
