---
layout: archive
title: "Endorsement"
permalink: /endorsement/
author_profile: true
---

<blockquote>
    "Alejandro is a great asset for our team. He was instrumental in researching, coding and visualizing complex trends in exoneration rates. He is also passionate about social justice and knowledgeable about the statistics needed to publish these findings."
</blockquote>
<div class="author">– Cindy Elder</div>
<div class="description">
    Cindy Elder is an expert statistician. We completed the M.S. Biostatistics program together and collaborated on a project studying wrongful convictions in the United States.
</div>


{% for post in site.endorsements reversed %}
  {% include archive-single-endorsement.html %}
{% endfor %}
